*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}

.navlinks{
    display: flex;
    gap: 30px;
}

.navlinks a{
    text-decoration: none;
    color: lightslategray;
    font-size: 12px;
}

.username{
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: lightcyan;
    color: teal;
    font-size: 10px;
    cursor: pointer;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}

.left{
    width: 50%;
}

.left h1{
    font-size: 40px;
    line-height: 1.2;
    color: lightslategrey;
}

.left h1 span{
    color: teal;
}

.left p{
    margin-top: 10px;
    color: lightgray;
    width: 80%;
    line-height: 1.5;
}

.button{
    margin-top: 30px;
    border: none;
    padding: 30px 42px;
    border-radius: 18px;
    background-color: teal;
    color: white;
    cursor: pointer;
}

.img{
    width: 50%;
    display: flex;
    justify-content: center;
}
